*.pyc
venv
.idea/
.vscode/
pgdata/
.env_nkt
rabbit/
redis/
media/mockups/*
media/artworks/*
!media/mockups/.init
!media/artworks/.init
web/celerybeat-schedule
web/static
*/.idea
.env
celerybeat-schedule
static/
.env.local
*.sql
*_data.py
*.xlsx#
**/celerybeat.pid
.DS_Store